<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Mistress Daniella</title>
    <link rel="shortcut icon" href="https://images.squarespace-cdn.com/content/v1/60ccb88e3388cd513489a645/d66a2c52-46be-4fa4-9201-0ea3fd624d4d/IMG_0193.jpg?format=1500w" type="image/x-icon">

    <link rel="stylesheet" href="'https:/fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap'">
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home-resp.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?Tilt+Warp">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nova+Mono&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&family=Tilt+Warp&display=swap"
        rel="stylesheet">
    <style>
        /* * {
            font-family: 'Open Sans', sans-serif;
        } */
    </style>
</head>

<body>

    <div class="about-img">
        <div class="general">
            <div class="container fix">
                <h1 class="hed"> Spicy Hooks</h1>
                <div class="navbar">
                    <h1 class="nav-resp" id="open-nav">&#x2630;</h1>
                    <ul class="notresp">
                        <li><a href="/">HOME</a></li>
                        <li><a href="/about">ABOUT</a></li>
                        <li><a href="/shopxxx">SHOP XXX</a></li>
                        <li><a href="/booking">BOOKING</a></li>

                        <li><a class="reservation" href="#contact">CONTACT</a></li>

                    </ul>
                </div>
            </div>
            <div>
                <ul class="ul" id="nav">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/booking">BOOKING</a></li>
                    <li><a href="/shopxxx">SHOP XXX</a></li>
                    <li><a href="#contact">CONTACT</a></li>

                </ul>
            </div>
            <div class="centered ">
                <div class="content " style="
                display: flex;
                justify-content: center;
            ">
                    <p style="width: 70%;" class="bold"> The first thing people notice is my self confidence.</p>
                    <!-- <h3>Rich Healthy and Nutricious Food</h3>
                    <p>Spicy Aroma is located in Nigeria. We have some amazing recipies and the most talented chefs in the country.</p> -->
                </div>
                <br>
                <!-- <div class="search ">
                    <input type="text " placeholder="Search Food ">
                    <a href="/login"><input class="submit" type="submit" value="search"></a>
                </div> -->


            </div>
        </div>
    </div>
    <br><br>
    <section class="section">
        <div class="about-tile">
            <div class="article">
                <p>I feel very comfortable in my role as a dominant woman. My approach tends to be quite nurturing yet sadistic. However, my style varies with each relationship and is tailored to each submissive.</p>
                <p>Being dominant is about assuming responsibilities and control that a submissive is happy to relinquish. A submissive has one crucial power and that is to surrender their autonomy in that dynamic. This is why trust and communication are
                    so important to me and in a D/s dynamic. Leading comes natural to me which is how I make my submissives feel comfortable under my authority.</p>
                <p>My BDSM journey has been a gradual yet abundant accumulation of experience and knowledge. A good Domme knows what boundaries to push and how to push them without straining a submissive and I hope to be able to explore those vulnerable
                    areas together. I have had submissives come to me using our sessions as a form of catharsis, punishment, release, or escape from reality and whatever submission means to you, I will create that environment for you. </p>
            </div>
            <div class="article-image">
                <img src="https://images.squarespace-cdn.com/content/v1/60ccb88e3388cd513489a645/9446134b-8e14-4e7b-9aa5-e0579ba4f587/dosh-3449.jpg?format=1500w" alt="">
            </div>
        </div>
        <div class="about-tile reverse">
            <div class="article">
                <p>I have cultivated my life to be kink oriented because I have such a passion for it, but I do have little bits of vanilla in my life. I was born in a little village in Ukraine which I still visit annually. I lived in the United States for
                    12 years prior to moving to the UK. I was an amateur boxer for 3 years and weight lifting has continued to be a big part of my life ever since. I moved to London 2 years ago to study psychology. I am a frequent traveller since I am
                    lucky enough to have so many places to call home!
                </p>
                <div class="btn">
                    <a href="/booking">Book a Session</a>
                </div>
            </div>
            <div class="article-image start">
                <img src="https://images.squarespace-cdn.com/content/v1/60ccb88e3388cd513489a645/b48e6896-309f-4851-8f37-7a13ccf88c3f/DASHA+B12752.jpg?format=1500w" alt="">
            </div>
        </div>
    </section>

    <!-- <div class="box2" id='menubox'>
        <div class="food-wrapper ">
            <div class="fries "></div>
            <h3>Bowl of Fries</h3>
        </div>
        <div class="food-wrapper ">
            <div class="jollofrice "> </div>
            <h3>Bowl of Jollof</h3>
        </div>
        <div class="food-wrapper ">
            <div class="egusi "></div>
            <h3>Bowl of Egusi</h3>
        </div>
        <div class="food-wrapper ">
            <div class="salad "></div>
            <h3>Bowl of Salad</h3>
        </div>


         <div class="soup ">Soup</div>
        <div class="pancake ">Pancake</div> 
    </div> -->


    <!-- <div class="box3" id="about">
        <div class="img hide">
            <img src="/imgs/4.png" alt=" ">
        </div>
        <div>
            <h3>Why Choose Spicy Aroma</h3>
            <p> Spicy aroma is a modern casual restaurant, created out of the desire to meld multicultural flavours and tastes to deliver cuisine that sparks the vibrant palates of Lagos residents. With a charming space and our commitment to exceptional service
                and high quality food, you can anticipate an incredibly satisfying and tasteful experience at sabor.
            </p>
        </div>

        </p>


    </div> -->
    <!-- <div class="logo ">.</div> -->
    <footer id="contact">
        <!-- <div class="waves ">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>

        </div> -->
        <ul class="social_icon ">
            <li>
                <a href="# ">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
            </li>
            <li>
                <a href="# ">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
            </li>
            <li>
                <a href="# ">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
            </li>
            <li>
                <a href="# ">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </li>
        </ul>
        <ul class="menu ">
            <li><a href="/">Home</a></li><br>
            <li><a href="/about">About</a></li>
            <li><a href="/shopxxx">Shop xxx</a></li>
            <li><a href="/booking">Booking</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <p style="color: white;">
            <ion-icon name="at-circle-outline "></ion-icon>2023 Mistress Daniella. | All right Reserved </p>
    </footer>
</body>


<script type="module " src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js "></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js "></script>
<script>
    document.body.onclick = function(e) {
        if (e.target.getAttribute('id') == 'open-nav') {
            return
        }
        document.getElementById('nav').style.display = 'none'
        document.getElementById('open-nav').innerHTML = '☰'
        document.body.style.overflowY = 'scroll'
        e.target.click()


    }
    document.getElementById('open-nav').onclick = function(e) {
        if (e.target.innerHTML == '☰') {
            document.getElementById('nav').style.display = 'block'
            document.getElementById('open-nav').innerHTML = 'X'
            document.body.style.overflowY = 'hidden'
        } else {
            document.getElementById('nav').style.display = 'none'
            document.getElementById('open-nav').innerHTML = '☰'
            document.body.style.overflowY = 'scroll'
        }

    }
</script>

</html>