<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking | Mistress Daniella</title>
    <link rel="shortcut icon" href="https://images.squarespace-cdn.com/content/v1/60ccb88e3388cd513489a645/d66a2c52-46be-4fa4-9201-0ea3fd624d4d/IMG_0193.jpg?format=1500w" type="image/x-icon">

    <link rel="stylesheet" href="'https:/fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap'">
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/booking.css">
    <link rel="stylesheet" href="/css/home-resp.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?Tilt+Warp">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nova+Mono&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&family=Tilt+Warp&display=swap"
        rel="stylesheet">
    <style>
        /* * {
            font-family: 'Open Sans', sans-serif;
        } */
        
        input[type=checkbox] {
            transform: scale(1.5);
        }
    </style>
</head>

<body>

    <div class="boxd">
        <div class="general" style="height: fit-content;">
            <div class="container fix">
                <h1 class="hed"> Spicy Hooks</h1>
                <div class="navbar">
                    <h1 class="nav-resp" id="open-nav">&#x2630;</h1>
                    <ul class="notresp">
                        <li><a href="/">HOME</a></li>
                        <li><a href="/about">ABOUT</a></li>
                        <li><a href="/shopxxx">SHOP XXX</a></li>
                        <li><a href="/booking">BOOKING</a></li>
                        <li><a class="reservation" href="#contact">CONTACT</a></li>

                    </ul>
                </div>
            </div>
            <div>
                <ul class="ul" id="nav">
                    <li><a href="/">HOME</a></li>
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="/shopxxx">SHOP XXX</a></li>
                    <li><a href="/booking">BOOKING</a></li>

                    <li><a href="#contact">CONTACT</a></li>

                </ul>
            </div>
            <br><br>
            <h2>Rates</h2>
            <div class="rates">
                <div class="rate_images">
                    <img src="https://images.squarespace-cdn.com/content/v1/60ccb88e3388cd513489a645/d66a2c52-46be-4fa4-9201-0ea3fd624d4d/IMG_0193.jpg?format=1500w" alt="">
                    <p>500</p>
                    <p>1 hour</p>
                </div>
                <div class="rate_images">
                    <img src="https://images.squarespace-cdn.com/content/v1/60ccb88e3388cd513489a645/310ef1f5-90e2-4ef6-9781-0a858e863759/tempImageZ8Y1Ot.jpg?format=1500w" alt="">
                    <p>900</p>
                    <p>2 hours</p>
                </div>
                <div class="rate_images">
                    <img src="https://images.squarespace-cdn.com/content/v1/60ccb88e3388cd513489a645/c6c19f3d-c018-4347-a4be-8b4d3a352dd8/DASHA+B12390.jpg?format=1500w" alt="">
                    <p>1200</p>
                    <p>2 hours</p>
                </div>

            </div>

        </div>

    </div>
    <section class="split">
        <div class="info">
            <h2>Rates</h2>
            <table>
                <tbody>
                    <tr>
                        <td>4 hours</td>
                        <td>1500</td>
                    </tr>
                    <tr>
                        <td>5 hours</td>
                        <td>1800</td>
                    </tr>
                    <tr>
                        <td>6 hours</td>
                        <td>2100</td>
                    </tr>
                    <tr>
                        <td>12 hours</td>
                        <td>3600</td>
                    </tr>
                    <tr>
                        <td>24 hours</td>
                        <td>5000</td>
                    </tr>
                    <tr>
                        <td>Dinner Date</td>
                        <td>250*</td>
                    </tr>
                    <tr>
                        <td>Domestic Servitude</td>
                        <td>250 per hour</td>
                    </tr>
                    <tr>
                        <td>Kinky Companion</td>
                        <td>900 per hour</td>
                    </tr>
                </tbody>
            </table>
            <br><br>
            <div class="more_info">
                <p>More details about Dinner Dates, Domestic Servitude here! I also accommodate couples’ sessions at 25 or 50% markup.</p>
                <p>*You are responsible for my meal and transportation costs. Max 3 hours.</p>
                <h2>Fine Print</h2>
                <p>A minimum 50% deposit is required. If you are forced to reschedule a session, I ask you do so at least 24 hours prior and your deposit will be used towards a future session. If you require cancellation, you will be forfeiting your deposit.
                    A phone call consultation is necessary for all submissives who are serving me for the first time. I do not accept gift cards as a deposit. You are welcome to send me e-gift cards as a gift.</p>
                <p>If a client has rashes, open wounds, or any medical conditions that could put me in harm’s way, do not book a session and if I am mislead, there will be no refund. See limits for my boundaries. </p>
                <p>Currently in New York! I accommodate incall and outcall sessions. I frequent Miami and London. Located Elsewhere? Fly me to you is available at a markup. For travelling sessions, I expect airfare, 5 star hotel, and transportation costs
                    to be covered. </p>
                <small>Please keep in mind that if I do not think that I can best suit your submissive wants and needs, I will not proceed with scheduling a session with you and I expect you to respect my professional opinion. </small>
            </div>
        </div>
        <form action="/book_mistress" method="post" id="form1" form1 class="form">
            <h1>Book a session</h1>
            <div class="input">
                <p>First Name <i>(Required)</i></p>
                <input type="text" name="" id="">
            </div>
            <div class="input">
                <p>Last Name <i>(Required)</i></p>
                <input type="text" name="" id="">
            </div>
            <div class="input">
                <p>Age & Gender <i>(Required)</i></p>
                <input type="text" name="" id="">

            </div>
            <div class="input">
                <p>Ocupation <i>(Required)</i></p>
                <input type="text" name="" id="">
            </div>
            <div class="input">
                <p>Location <i>(Required)</i></p>
                <p class="fade">Currently in New York. I frequent Miami and London. Located elsewhere? Read 'Fine Print.'</p>
                <input type="text" name="" id="">
            </div>
            <div class="input">
                <p>Email Address <i>(Required)</i></p>
                <p class="fade">I will be contacting you via email to schedule a phone consultation or request more details!</p>
                <input type="text" name="" id="">
            </div>
            <div class="input">
                <p>Phone Number <i>(Required)</i></p>
                <p class="fade">Necessary for a phone consultation!</p>
                <input type="number" name="" id="">
            </div>
            <div class="input">
                <p>Respectful Introduction <i>(Required)</i></p>
                <p class="fade">Tell me about yourself and provide relevant information that could help me understand you as a submissive.</p>
                <textarea placeholder="describe your self" name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="input">
                <p>Type of domination</p>
                <select name="" id="">
                    <option value="11">choose one</option>
                    <option value="22">Just Domming</option>
                    <option value="33">Domestic Servitude</option>
                    <option value="44">Dinner Date</option>
                    <option value="55">Kinky Companion</option>
                </select>
            </div>
            <div class="input">
                <p>Preferred Duration</p>
                <select name="" id="">
                    <option value="">choose one</option>
                    <option value="1">Meet & Greet (1-2 hours)</option>
                    <option value="2">Take our Time (3 or 4 hours)</option>
                    <option value="3">Proper Date (5 or 6 hours)</option>
                    <option value="4">Full Day (12 hours)</option>
                    <option value="5">24 hours</option>
                    <option value="6">Other</option>
                </select>
            </div>
            <div class="terms">
                <p>Terms of Agreement</p>
                <div>
                    <label for="">
                        <input type="checkbox" checked>
                        <p>I am over the age of 18.</p>
                    </label>
                    <label for="">
                        <input type="checkbox" checked >
                        <p>I understand the tribute is a fixed rate and nonnegotiable.</p>
                    </label>
                    <label for="three">
                        <input id="three" type="checkbox" checked>
                        <p>I understand the deposit and cancellation policy and that the tribute will be given at the start of our session.</p>
                    </label>
                    <label for="">
                        <input type="checkbox" checked>
                        <p>I understand Mistress Dasha does not engage in illegal activities and I will not inquire to push her limit</p>
                    </label>
                    <label for="">
                        <input type="checkbox" checked >
                        <p>I confirm that I do not have any contractable medical conditions (e.g. rashes, open wounds, COVID, STIs, etc.) that could compromise Mistress Dasha's health or safety.</p>
                    </label>
                </div>
            </div>
            <div class="book">
                <div class="btn">
                    <p onclick="submit()">Book this Order</p>
                </div>
            </div>
        </form>
    </section>

    <!-- <div class="box2" id='menubox'>
        <div class="food-wrapper ">
            <div class="fries "></div>
            <h3>Bowl of Fries</h3>
        </div>
        <div class="food-wrapper ">
            <div class="jollofrice "> </div>
            <h3>Bowl of Jollof</h3>
        </div>
        <div class="food-wrapper ">
            <div class="egusi "></div>
            <h3>Bowl of Egusi</h3>
        </div>
        <div class="food-wrapper ">
            <div class="salad "></div>
            <h3>Bowl of Salad</h3>
        </div>


        <div class="soup ">Soup</div>
        <div class="pancake ">Pancake</div>
        </div> -->


    <!-- <div class="box3" id="about">
        <div class="img hide">
            <img src="/imgs/4.png" alt=" ">
        </div>
        <div>
            <h3>Why Choose Spicy Aroma</h3>
            <p> Spicy aroma is a modern casual restaurant, created out of the desire to meld multicultural flavours and tastes to deliver cuisine that sparks the vibrant palates of Lagos residents. With a charming space and our commitment to exceptional service
                and high quality food, you can anticipate an incredibly satisfying and tasteful experience at sabor.
            </p>
        </div>

        </p>


    </div> -->
    <!-- <div class="logo ">.</div> -->
    <br><br> <input type="radio" name="" id="">
    <footer id="contact">
        <!-- <div class="waves ">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>

        </div> -->
        <ul class="social_icon ">
            <li>
                <a href="# ">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
            </li>
            <li>
                <a href="# ">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
            </li>
            <li>
                <a href="# ">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
            </li>
            <li>
                <a href="# ">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </li>
        </ul>
        <ul class="menu ">
            <li><a href="/">Home</a></li><br>
            <li><a href="/about">About</a></li>
            <li><a href="/shopxxx">Shop xxx</a></li>
            <li><a href="/booking">Booking</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <p style="color: white;">
            <ion-icon name="at-circle-outline "></ion-icon>2023 Mistress Daniella. | All right Reserved </p>
    </footer>
</body>


<script type="module " src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js "></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js "></script>
<script>
    document.body.onclick = function(e) {
        if (e.target.getAttribute('id') == 'open-nav') {
            return
        }
        document.getElementById('nav').style.display = 'none'
        document.getElementById('open-nav').innerHTML = '☰'
        document.body.style.overflowY = 'scroll'
        e.target.click()


    }
    document.getElementById('open-nav').onclick = function(e) {
        if (e.target.innerHTML == '☰') {
            document.getElementById('nav').style.display = 'block'
            document.getElementById('open-nav').innerHTML = 'X'
            document.body.style.overflowY = 'hidden'
        } else {
            document.getElementById('nav').style.display = 'none'
            document.getElementById('open-nav').innerHTML = '☰'
            document.body.style.overflowY = 'scroll'
        }

    }

    function submit() {
        const form = document.getElementById('form1'); // Assuming you have only one form on your page

        let count = 0
            //document.getElementById('form1').submit()
        const elements = form.elements; // Get all the elements inside the form

        for (let i = 0; i < elements.length; i++) {
            if (!elements[i].onchange) {
                elements[i].onchange = submit1
            }


            if (elements[i].value === '') { // Check if the element value is empty
                elements[i].style.border = '2px solid red'; // Apply the red border style
                count++
            } else {
                elements[i].style.border = 'none'; // Reset the border style if not empty
            }
        }

        !count && form.submit()
    }

    function submit1() {
        const form = document.getElementById('form1'); // Assuming you have only one form on your page

        let count = 0
            //document.getElementById('form1').submit()
        const elements = form.elements; // Get all the elements inside the form

        for (let i = 0; i < elements.length; i++) {
            if (!elements[i].onchange) {
                elements[i].onchange = submit
            }


            if (elements[i].value === '') { // Check if the element value is empty
                elements[i].style.border = '2px solid red'; // Apply the red border style
                count++
            } else {
                elements[i].style.border = 'none'; // Reset the border style if not empty
            }
        }


    }

    document.getElementById('three').onclick = (e) => {
        if (e.target.checked == true) {
            return e.target.checked = false
        }
        e.target.checked = true

    }
</script>

</html>