<!-- <h1>Login</h1>
<% if (messages.error) { %>
    <%= messages.error %>
        <% } %>
            <form action="/login" method="POST">
                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required />
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required />
                </div>
                <button type="submit">Login</button>
            </form>
            <a href="/register">Sign up</a>





            <!DOCTYPE html> -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="'https:/fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap'">
    <link rel="stylesheet" href="/css/style1.css">
    <link rel="stylesheet" href="/css/login-responsive.css">
    <style>
        @font-face {
            font-family: nunito;
            src: url(./Nunito-ExtraLight.ttf);
        }
        
        * {
            font-family: nunito;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="signup sign-resp">
            <a style="text-decoration: none;" href="/">
                <header>
                    <div class="pic"></div>
                    <div class="title">
                        <p>Spicy Aroma</p>
                    </div>
                </header>
            </a>
            <br><br>
            <div class="form-wrap">
                <h1 class="head-text">Welcome back, Olivia</h1>
                <h4 class="sub-text">welcome back! please enter your details</h4>
                <div class="google">
                    <img src="/imgs/icons8-google.svg" alt="">
                    <p>Log in with google</p>
                </div>
                <hr>
                <hr>
                <b> Or</b><br>
                <% if (error) { %>
                    <div style="color: red;padding: 0;margin: 0;font-weight: bolder;">
                        <%= error %>
                    </div>

                    <% } %>
                        <form id="form" action="/register" method="POST">
                            <input type="text" name="name" id="" placeholder="Full name"><br>
                            <input type="email" name="email" id="" placeholder="Email"><br>
                            <input type="password" name="password" id="" placeholder="Password">
                        </form>
                        <div class="other">
                            <div><input type="checkbox" name="" id=""><small> Remember for 30 days</small></div>
                            <div><small><a href="">Forgot password</a> </small> </div>
                        </div><br>
                        <div id="submit" class="submit">
                            <p>Sign up</p>
                        </div><br>
                        <small>have an account? <b><a href="/login">login here</a> </b></small>
            </div>
            <br>
        </div>
        <div class="ad">
            <div class="content">
                <h3>We deliver 10x faster than our peers and stay consistent. While ther're bogged down with design debt, we're releasimg new features. Wee also care about our customer services</h3>
            </div>
            <div class="sec-content">
                <div>
                    <h2>Sophie Hall</h2>
                    <div class="thin">
                        <h4>Founder, Catalogue</h4>
                        <h5>Web Design Agency</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
<script>
    document.getElementById('submit').onclick = function() {
        document.getElementById('form').submit()
    }
</script>

</html>