@media only screen and (max-width:768px) {
    a,
    a:hover,
    a:focus {
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }
    * {
        user-select: none;
    }
    .header {
        width: 100%;
        display: block;
        /* position: fixed; */
    }
    .header-menu {
        display: block;
        /* border: 1px solid; */
        width: 100%;
    }
    .container {
        overflow-x: hidden;
    }
    body {
        /* background-color: aliceblue; */
        display: block;
        overflow-x: hidden;
        font-size: calc(10px + 2vmin);
        /* margin: 0; */
    }
    .menu {
        flex-direction: column;
        width: 100%;
        margin: 0;
        display: flex;
    }
    .input-search input {
        width: 90%;
        margin-right: 0;
        padding: 10;
    }
    .icon,
    .avatar,
    .name,
    .payment,
    .map,
    .contd,
    .item-img {
        display: none;
    }
    .pinky {
        margin-left: 20px;
        margin-right: 20px;
    }
    .about-stock .title {
        margin-left: 20px;
        margin-right: 20px;
    }
    .menu-card {
        width: 100%;
    }
    .menu .menu-card {
        box-shadow: none;
        margin-bottom: 40px;
    }
    .show {
        display: flex;
    }
    .ord {
        display: flex;
        justify-content: space-between;
        align-items: center
    }
    .checkout {
        width: 90%;
        position: relative;
        /* overflow-x: hidden; */
    }
    .modal {
        width: 100%;
        height: 118%;
        overflow-x: hidden;
        right: 0;
        /* font-weight: 100; */
        font-size: 10px;
    }
    .content-buyed,
    .payment,
    .payment-choice {
        width: 100%;
    }
    .payment-choice {
        height: 100%;
    }
    .body {
        margin: 0;
    }
    .content-buyed .title2 {
        margin-top: 0px;
    }
    .shw {
        display: none
    }
    .lined {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .align {
        margin-left: 20px !important;
        margin-right: 20px!important;
        width: auto !important;
    }
    #foward {
        display: block;
    }
}